<div id="size-bar">
  <img src="static/img/sizes/newSize1.png" id="size1" class="size first-size" ng-click="setSize(1)"/>
  <img src="static/img/sizes/newSize2.png" id="size2" class="size" ng-click="setSize(2)"/>
  <img src="static/img/sizes/newSize3.png" id="size3" class="size" ng-click="setSize(5)"/>
  <img src="static/img/sizes/newSize4.png" id="size4" class="size" ng-click="setSize(10)"/>
  <img src="static/img/sizes/newSize5.png" id="size5" class="size last-size" ng-click="setSize(20)"/>
</div>
